# General Config
NODE_ENV=development
PORT=5000
FRONTEND_URL=http://localhost:3000

# Database Config
MONGODB_URI=mongodb://localhost:27017/smartrail_eta

# Microservices Config
ML_SERVICE_URL=http://localhost:8000
